.cards-container {
  display: flex;
  justify-content: space-between;
  width: 250px;
  word-wrap: break-word;
  .card {
    margin: 10px;
    width: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    p {
      color: dimgray;
      font-size: 0.8rem;
    }
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .cards-container {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    align-items: center;
  }
}

  @media only screen and (min-device-width: 320px) and (max-device-width: 499px) {
    .cards-container {
      display: flex;
      width: 49%;
      align-items: center;
      justify-content: center;
    }
  }