.Resume {
  background-color: white;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  height: 93vh;
  .Right-resume {
    width: 850px;
    overflow-y: scroll;
    height: 93vh;
    gap: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .study {
      // border: 2px solid black;
      display: flex;
      width: auto;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      flex-wrap: wrap;
      gap: 30px;
      .experience {
        // border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 10px;

        flex-direction: column;
        h2 {
          width: 100%;
        }
        // gap: 30px;
      }
      .education {
        // border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 10px;
        flex-direction: column;
        h2 {
          width: 100%;
        }
      }
    }
    .skills {
      width: 100%;
      display: flex;
      gap: 30px;
      flex-direction: column;
      margin-bottom: 40px;
      .skill-heading {
        h1 {
          font-size: 1.9rem;
          text-decoration: underline wavy #ee9493;
        }
      }
      .skill-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        .web-tech {
          width: 330px;
          height: 300px;
          // border: 2px solid red;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          .web {
            border: 1px solid silver;
            display: flex;
            width: 100%;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            h5 {
              color: dimgray;
            }
            .resultBox {
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;
              gap: 10px;
            }
          }
        }
        .language-tech {
          width: 330px;
          height: 300px;
          // border: 2px solid red;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          .lang {
            border: 1px solid silver;
            display: flex;
            width: 100%;
            padding: 10px;
            align-items: center;
            justify-content: space-between;
            .resultBox {
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;
              gap: 10px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Resume {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .Resume {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .Resume {
    display: flex;
    overflow: hidden;
    align-items: center;
  }
}
