.Study{
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px  1px silver;
    width: 350px;
    height: auto;
        .top-content{
        border-bottom: 1px solid silver;
        display: flex;
        padding: 5px;
        gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        .exp-icon{
            font-size: 42px;
            background-color: #ef9795;
            color: white;
            padding:8px;
            border-radius: 50%;
        }
        .text-content{
            display: flex;
            flex-direction: column;
            gap: 5px;
        h3{
            font-size:1rem ;
            opacity: 0.9;
        }
        p{
            color: silver;
            font-size: 10px;
            text-align: start;
        }
    }
    }
    .para{
        padding: 5px;
        color:silver;
        font-size: small;
    }
}